body {
    background-color: rgb(255, 253, 233);
    color: #db994e;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2%;
}


h1#title {
    font-size: 80px;
    font-weight: bold;
    margin: 0;
    display: block;
    float: left;
}

.container {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

div#score-cont{
    position: relative;
    float: right;
    background-color:#000000bb;
    color: rgb(255, 216, 165);
    height: 25px;
    padding: 15px 20px;
    padding-bottom: 30px;
    margin-top: 10px;
    text-align: center;
    border-radius: 10%;
}

div#score{
    font-weight: bold;
    font-size: 25px;
    color: white;
}

p#Anweisungen {
    position: relative;
    float: left;
}

span{
    font-weight: bold;
}

