body {
    background-color: rgb(255, 253, 233);
    color: #db994e;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2%;
}


h1#title {
    font-size: 80px;
    font-weight: bold;
    margin: 0;
    display: block;
    float: left;
}

.container {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

div#score-cont{
    position: relative;
    float: right;
    background-color:#000000bb;
    color: rgb(255, 216, 165);
    height: 25px;
    padding: 15px 20px;
    padding-bottom: 30px;
    margin-top: 10px;
    text-align: center;
    border-radius: 10%;
}

div#score{
    font-weight: bold;
    font-size: 25px;
    color: white;
}

p#Anweisungen {
    position: relative;
    float: left;
}

span{
    font-weight: bold;
}

div#btn-container {
    width: 400px;
    height: 400px;
    display: grid;
    grid: 130px 130px 130px / 130px 130px 130px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    place-items: center center;
    margin-top: 700px;
    gap: 4%;
    
  }
  
  button#left {
    width: 100px;
    height: 100px;
    grid-row-start: 2;
    grid-column-start: 1;
    background-color: transparent;
  }
  
  button#up {
    width: 100px;
    height: 100px;
    grid-row-start: 1;
    grid-column-start: 2;
  }
  
  button#down {
    width: 100px;
    height: 100px;
    grid-row-start: 3;
    grid-column-start: 2;
  }
  
  button#right {
    width: 100px;
    height: 100px;
    grid-row-start: 2;
    grid-column-start: 3;
  }
  button#reload {
    width: 100px;
    height: 100px;
    grid-row-start: 2;
    grid-column-start: 2;
    background-color: transparent;
    border-color: transparent;
  }
  

  

  
